<div class="panel">
  <h3> Our Menu</h3>
  <p>We have a large selection of breads.</p>
  <%= link_to "EXPLORE BREADS", breads_path, class: 'button success' %>&nbsp;&nbsp;
  <%= link_to "EXPLORE MUFFINS", muffins_path, class: 'button success ' %>&nbsp;&nbsp;
  <%= link_to "EXPLORE PASTRIES", pastries_path, class: 'button success ' %>
</div>


<!-- put link actiosn into application.js -->