<div class="row">
  <div class="small-7 columns">
    <%= render :partial => "address_details" %>
  </div>
  <div class="small-5 columns">
    &nbsp;
  </div>
</div>

<!-- Add buttons to list all, edit project or destroy object -->
<% if logged_in? && current_user.role?(:admin) %>
  <%= link_to "Display All Addresses", customers_path, class: 'button radius' %>&nbsp;<%=link_to "Edit Address", edit_customer_path, class: 'button radius' %>
  <% if @address.is_destroyable? %>
    <%= link_to "Delete Address", method: 'delete', confirm: "Are you sure you want to permanently delete this address?", class: 'button radius alert' %>
  <% end %>
<% end %>