<div id="menu_options">
  <%= link_to "EXPLORE BREADS", breads_path %>
  <%= link_to "EXPLORE MUFFINS", muffins_path %>
  <%= link_to "EXPLORE PASTRIES", pastries_path %>
</div>

<!-- put link actiosn into application.js -->