<h4>Similar Items: </h4>
<table>
  <% Item.for_category(@item.category).limit(4).each do |item| %>
    <% if item.picture.blank? %>
      <td class="smaller_icon"><%= link_to image_tag('img_not_available.png'), item %><br>
        <p class="tiny_font"><%= link_to item.name, item_path(item) %></p></td>
    <% else %>
      <td class="smaller_icon"><%= link_to image_tag (item.picture), item %></td><br>
        <p class="tiny_font"><%= link_to item.name, item_path(item) %></p></td>
    <% end %>
  <% end %>
  </tr>
</table>


